@import "tailwindcss";

/* Minimalistic scrollbar */
.json-scroll::-webkit-scrollbar {
  width: 4px;
}

.json-scroll::-webkit-scrollbar-track {
  background: #f8fafc;
}

.json-scroll::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 2px;
}

.json-scroll::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}